
/* import font families */
@font-face {
    font-family: IBM-Plex-Sans-Medium;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-MediumItalic;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-MediumItalic.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-Regular;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-Italic;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Italic.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-Bold;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-BoldItalic;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-ExtraLight;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-Light;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
    }

@font-face {
    font-family: Helvetica-Black-Oblique;
    src: url(fonts/Helvetica-Black-Oblique.woff);
    }

@font-face {
    font-family: Helvetica-Black-Oblique;
    src: url(fonts/Mulish-Variable.ttf);
    }

@font-face {
    font-family: WorkSans;
    src: url(fonts/WorkSans-Variable.ttf);
    }

    

/* overall background */
    body {      
        background: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        color: rgb(0, 0, 0);
        font-family: WorkSans,'Source Code Pro', sans-serif;
    }

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* NAV BAR STARTS */

/* ensure no padding on navigation bar */
    /* header {
        padding: 0px 0px;
        margin: 0px 0px;
    } */

    header {
        background: rgb(255, 255, 255);   
    }

    footer {
        background: rgb(0, 0, 0);
    }

    header {
        /* position: fixed; */
        width: 100%;
    }
    /* @media only screen and (max-width: 1200px) {
        header {
            position: relative;
        }
    } */

    nav ul {
        margin: 0px 0px;
        padding: 0px 0px;
        list-style-type: none;
        display: flex;
    }

    nav ul.logo {
        margin: auto;
    }

    nav ul.links {
        position: absolute;
        float: right;
    }
    
/* navigation bar items */
    nav ul li {
        display: inline-block;
        position: relative;
        padding: 0px 0px;
        margin-top: auto;
        margin-bottom: auto;
        list-style: none;
    }

    nav ul li a {
        color: black;
        font-family: WorkSans, IBM-Plex-Sans-Regular,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        list-style: none;
        display: block;
        transition: color 0.3s;
            /* height of top link buttons   */
            padding: 40px 20px 40px 20px;
    }

    nav ul li a:hover {
        color: rgb(131, 135, 158);
        transition: color 0.2s;
    }

    nav ul li ul {
        z-index: 1;
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        /* padding-top: 9px; */
        /* vertical distance between first dropdown menu item and link */
    }

    nav ul li:hover ul {
        display: inline-block;
    }

    nav ul li ul li {
        width: 220px;
        /* width of dropdown menu items */
    }

    nav ul li ul.resumes li {
        width: 140px;
        /* width of dropdown menu items */
    }

    nav ul li ul li a {
        padding: 12px 20px;
            /* vertical distance between dropdown menu items, horizontal distance of dd menu items from sides */
    }

    nav ul li ul li a:hover {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .logo {
        flex: 0.95;
        padding-left: 5vw;
    }

    nav ul li.logo a:hover {
        color: rgb(168, 168, 168);
    }
    nav ul li.logo a:active {
        color: rgb(109, 109, 109);
    }

    nav ul li.logo a {
        width: fit-content;
        padding: 22px 10px;
        padding-right: 20px;
        text-transform: none;
        font-family: WorkSans,'Helvetica-Black-Oblique','IBM-Plex-Sans-Light','Century Gothic','CenturyGothic','AppleGothic','sans-serif';
        font-size: 28px;
        letter-spacing: -2px;
        /* font-weight: 500; */
        color: rgb(32, 32, 32);
        transition: color 0.2s ease-in-out;
    }

        /* only req'd for using image as logo */
    /* .logo img {
        max-width:260px;
        width: auto;
        height: auto;
    } */

@media only screen and (max-width: 1200px) {    /* MOBILE NAV BAR START */

        header {
            text-align: center;
        }
    
        nav ul {
            display: inline-block;
        }
    
    /* navigation bar items */
    
    
        nav ul li {
            text-align: left;
            /* keeps dropdown menu under hover link */
            margin: 0px 0px 0px 0px;
        }
    
        nav ul li.links {
            display: inline-block;
        }
    
        nav ul li.logo {
            padding: 0px;
        }
    
        nav ul li a{
            padding: 0px;
            text-align: left;
        }
    
        nav ul li.logo a {
            margin: auto !important;
        }
    
        nav ul li.links a {
            font-size: 12px;
            padding-top: 20px;
            padding-bottom: 26px;
            padding-left: 4vw;
            padding-right: 4vw;
        }
    
        nav ul li ul li a {
            padding: 12px 20px !important;
                /* vertical distance between dropdown menu items, horizontal distance of dd menu items from sides */
            text-align: left;
                /* align drop down text to left */
        }

        .logo a {
            padding: 0;
            padding-top: 20px;
            font-size: 26px;
            width: 100vw;
            text-align: center;
        }


}        /* MOBILE NAV BAR END */

/* NAV BAR ENDS */
/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

    section.top-image-title {
        max-width: 100%;
        height: auto;
            /* parallax scrolling effect */
            /* background-attachment: fixed; */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        color: white;
        padding: 16%;
        padding-left: 10%;
        font-family: WorkSans, IBM-Plex-Sans-Regular,'Source Code Pro',sans-serif;
        font-size: 80px;
        font-weight: 700;
    }

    section.no-quote {
        padding: 22%;
        padding-left: 10%;
    }

    .quote {
        font-family: WorkSans, IBM-Plex-Sans-Italic;
        font-size: 30px;
        font-weight: 300;
        color: rgb(255, 255, 255);
        padding-top: 16%;
        text-align: right;
    }

    .quote-person {
        font-family: WorkSans, IBM-Plex-Sans-Regular !important;
        font-size: 24px;
        font-style: italic;
        padding-top: 0%;
        padding-right: 100px;

    }
    
    @media only screen and (max-width: 1200px) {
        section.top-image-title {
            /* eliminate parallax scrolling effect by    background-attachment: fixed;  -->  background-attachment: scroll;*/
            background-attachment: scroll;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 10vw;
            padding: 16vw;
            padding-left: 4vw;
        }
        .quote {
            font-size: 4vw;
            color: white;
        }
        .quote-person {
            font-size: 3vw;
            padding-right: 4vw;
        }
    }

    section.juicy-content {
        background-color: rgb(245, 245, 245);
        font-family: WorkSans, IBM-Plex-Sans-Regular,'Source Code Pro',sans-serif;
        font-size: 18px;
        line-height: 32px;
        
        width: 90%;
        max-width: 1200px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px 20px;
    }
    @media only screen and (max-width: 1200px) {
        section.juicy-content {
            padding: 3vh 2vh;
            font-size: 14px;
            line-height: 28px;
        }
    }

    .portfolio-image {
        width: 100%;
        display: block;
    }

    h1 {
        text-align: left;
        font-family: WorkSans, IBM-Plex-Sans-Medium,'Source Code Pro',sans-serif;
        font-weight: 800;
        color: rgb(61, 68, 73);
        margin: 0px;
        padding: 10px 0px;
    }
    @media only screen and (max-width: 1200px) {
        h1 {
            padding-top: 0px;
        }
    }

    h2 {
        font-family: WorkSans, IBM-Plex-Sans-Regular,'Source Code Pro',sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: rgb(105, 115, 124);
        margin: 0px;
        margin-top: 4px;
        padding-top: 20px;
    }

    h3 {
        text-align: left;
        font-family: WorkSans, IBM-Plex-Sans-Medium,'Source Code Pro',sans-serif;
        font-weight: 800;
        font-size: larger;
        color: rgb(61, 68, 73);
    }

    @media only screen and (max-width: 1200px) {
        h2 {
            font-size: 16px;
        }
        h3 {
            font-size: 16px;
        }
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .subtitle {
        font-size: 14px;
        color: rgb(82, 90, 97);
        font-family: WorkSans, IBM-Plex-Sans-BoldItalic,'Source Code Pro',sans-serif;
        text-align: center;
    }

    .subtitle-text {
        font-family: WorkSans, IBM-Plex-Sans-MediumItalic,'Source Code Pro',sans-serif;
    }

    @media only screen and (max-width: 1200px) {
        .subtitle {
            font-size: 12px;
        }
    }

    .side-content {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
    }

    .side-content div {
        width: 100%;
    }

    .left-section {
        padding-right: 10px;
        margin: auto;
    }

    .right-section {
        padding-left: 10px;
        margin: auto;
    }

    @media only screen and (max-width: 1200px) {
        .side-content {
            display: block;
            padding-top: 0px;
        }
        .side-content div {
            padding-right: 0px;

        }
    }


    div.carousel_slider {
        margin: 0;
        font-family: "Inter", sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        cursor: grab;
      }

    div.carousel_slider:active {
        cursor: grabbing;
    }
      
      [class^="number-slide"],
      [class*=" number-slide"] {
        background-color: rgb(245, 245, 245);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 50px;
        color: #fff;
        font-weight: 500;
      }

      [class^="number-slide"] img,
      [class*=" number-slide"] img {
        width: 100vw;
        max-width: 100%;
        height: auto;
      }

      
    footer {
        font-family: WorkSans,IBM-Plex-Sans-Light,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        color: rgb(0, 0, 0);
        background-color: rgb(235, 235, 235);
    }

    footer div.summary {
        text-align: right;
        padding-right: 3vw;
        padding-bottom: 1vh;
        padding-top: 1vh;
        background-color: rgb(225, 225, 225);
    }

    ul li {
        display: inline-block;
    }

    footer div.summary li {
        font-family: WorkSans,IBM-Plex-Sans-Regular,sans-serif;
        font-size: 12px;
        list-style-type: none;
        line-height: 20px;
        display: inline-block;
        padding: 2px 10px;
        text-align: center;
        border-right: 1px solid rgb(153, 153, 153);
    }
    footer div.summary li:last-child {
        border-right: 0px;
    }

    footer div.buttons {
        font-size: 20px;
        padding: 40px 0px 40px;
        padding-right: 3vw;
        text-align: right;
    }

    footer div.buttons li {
        display: inline-block;
        margin: 0px 10px;
    }
    footer div.buttons li:last-child {
        margin-right: 0px;
    }

    .fa {
        margin: auto;
        padding: 8px;
        font-size: 18px;
        width: 20px;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        background-color: rgb(139, 139, 139);
        color: white;
        /* transition: background-color 0.15s ease-in-out;
        transition: color 0.15s ease-in-out; */
        transition: all 0.15s ease-in-out;
    }
    .fa:link, .fa:visited {
        /* background-color: black; */
        background-color: rgb(211, 211, 211);
        color: rgb(0, 0, 0);
    }
    .fa:hover {
        /* border-radius: 50%; */
        color: rgb(18, 133, 228);
        background-color: rgb(221, 221, 221);
    }
    .fa:active {
        /* transition: background-color 0.10s ease-in-out; */
        transition: all 0.15s ease-in-out;
        /* padding: 5px; */
        /* font-size: 20px;
        width: 20px; */
        color: rgb(12, 89, 151);
        /* border: 3px solid rgb(204, 204, 204);
        background-color: rgb(235, 235, 235); */
    }

    /* footer li img {
        filter: invert(1);
        width: 24px;
    } */
    /* footer div li a img:link, footer li a img:visited {
        filter: invert(0.4);
    } */
    footer div.summary li a:link, footer div.summary li a:visited {
        color: rgb(0, 0, 0);
        text-decoration: none;
        transition: color 0.15s ease-in-out;
    }
    /* footer div li a img:hover {
        filter: invert(0.6);
    } */
    footer div.summary li a:hover {
        /* color: rgb(226, 104, 82); */
        /* color: rgb(167, 167, 167); */
        color: rgb(18, 133, 228);
        text-decoration: none;
    }

    /* footer div li a img:active {
        filter: invert(0.25)
    } */
    footer div.summary li a:active {
        color: rgb(12, 89, 151);
        text-decoration: none;
    }

@media only screen and (max-width: 1200px) {    /* MOBILE NAV BAR START */
        footer div.summary {
            padding-right: 0;
            text-align: center;
        }
        footer div.summary li {
            font-size: 10px;
            padding: 2px 1vw;
        }
        footer div.buttons {
            padding-right: 0;
            text-align: center;
        }
    }        /* MOBILE NAV BAR END */