

    body {
        background: rgb(51, 51, 51); /* body and section match */
        margin: 0px;
        padding: 0px;
        color: rgb(14, 14, 14);
        font-family: 'Source Code Pro', sans-serif;
        font-size: 100%;
    }

    header {
        padding: 0px 0px;
        margin: 0px 0px;
    }
    

    .nav {
        background :rgb(241, 241, 241); /* match with footer */
        padding: 0px 0px;
        margin: 0px 0px;
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }

  nav li {
        background: rgb(190, 226, 27);
        color: rgb(30, 171, 253);
        margin: 0px;
        padding: 20px 60px;
        font-family: "century gothic";
        font-size: 130%;
        text-transform: uppercase;
        display: inline-block;
    }

    nav ul {
      color: black;
      padding: 20px 30px;
      flex: 1;
      line-height: 1.2;
      text-decoration: none;
      background-position: 0 -0.1em;
      background-size: 0 100%;
      background-repeat: no-repeat;
      transition: all ease-in-out 0.3s;
    }
    
    nav a:hover {
      color: rgb(224, 224, 224);
      background-size: 100% 100%;
    }






    h2 {
        color: rgb(77, 77, 77);
        padding: 20px;
        font-size: 150%;
        text-align: center;
    }

    section.feature-box.split-sides {
        color: rgb(0, 0, 0);
        font-family: 'century gothic';
        display: flex;
        flex-direction: row;
    }

    section.feature-box.split-sides div {
        background: white;
        margin: 0px;
        padding: 20% 22%;
        height: 10px;
        width: 50px;
        }

    footer {
        background: rgb(235, 235, 235);
        color: rgb(116, 116, 116);
        font-family: 'century gothic';
        text-align: right;
        padding: 20px 20px 20px 0px;
        margin: 40px 10px 0px 10px;
    }



