
/* import font families */
@font-face {
    font-family: IBM-Plex-Sans-Medium;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-MediumItalic;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-MediumItalic.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-Regular;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-Italic;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Italic.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-Bold;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-BoldItalic;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-ExtraLight;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf);
    }
@font-face {
    font-family: IBM-Plex-Sans-Light;
    src: url(fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
    }

@font-face {
    font-family: Helvetica-Black-Oblique;
    src: url(fonts/Helvetica-Black-Oblique.woff);
    }

@font-face {
    font-family: Helvetica-Black-Oblique;
    src: url(fonts/Mulish-Variable.ttf);
    }

@font-face {
    font-family: WorkSans;
    src: url(fonts/WorkSans-Variable.ttf);
    }

/* overall background */
    body {      
        background: rgb(255, 255, 255);
        padding: 0px;
        margin: 0px;
        color: rgb(0, 0, 0);
        font-family: WorkSans,'Source Code Pro', sans-serif;
    }

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* NAV BAR STARTS */

/* ensure no padding on navigation bar */
    /* header {
        padding: 0px 0px;
        margin: 0px 0px;
    } */

    header {
        background: rgb(255, 255, 255);   
    }

    footer {
        background: rgb(0, 0, 0);
    }

    header {
        /* position: fixed; */
        width: 100%;
    }
    /* @media only screen and (max-width: 1200px) {
        header {
            position: relative;
        }
    } */

    nav ul {
        margin: 0px 0px;
        padding: 0px 0px;
        list-style-type: none;
        display: flex;
    }

    nav ul.logo {
        margin: auto;
    }

    nav ul.links {
        position: absolute;
        float: right;
    }
    
/* navigation bar items */
    nav ul li {
        display: inline-block;
        position: relative;
        padding: 0px 0px;
        margin-top: auto;
        margin-bottom: auto;
        list-style: none;
    }

    nav ul li a {
        color: black;
        font-family: WorkSans, IBM-Plex-Sans-Regular,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        text-decoration: none;
        list-style: none;
        display: block;
        transition: color 0.3s;
            /* height of top link buttons   */
            padding: 40px 20px 40px 20px;
    }

    nav ul li a:hover {
        color: rgb(131, 135, 158);
        transition: color 0.2s;
    }

    nav ul li ul {
        display: none;
        position: absolute;
        background-color: rgb(255, 255, 255);
        /* padding-top: 9px; */
        /* vertical distance between first dropdown menu item and link */
    }

    nav ul li:hover ul {
        display: inline-block;
    }

    nav ul li ul li {
        width: 220px;
        /* width of dropdown menu items */
    }

    nav ul li ul.resumes li {
        width: 140px;
        /* width of dropdown menu items */
    }

    nav ul li ul li a {
        padding: 12px 20px;
            /* vertical distance between dropdown menu items, horizontal distance of dd menu items from sides */
    }

    nav ul li ul li a:hover {
        background: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
    }

    .logo {
        flex: 0.95;
        padding-left: 5%;
    }

    /* nav ul li.logo a:hover {
        color: rgb(75, 75, 75);
        font-weight: bold;
    } */

    .logo a {
        width: fit-content;
        padding: 22px 10px;
        padding-right: 20px;
        font-family: 'Helvetica-Black-Oblique';
        font-weight: lighter;
        font-size: 42px;
        font-style: italic;
        letter-spacing: -2px;
    }

    /* only req'd for using image as logo */
    /* .logo img {
        max-width:260px;
        width: auto;
        height: auto;
    } */

/* NAV BAR ENDS */
/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

    section.top-image-title {
        max-width: 100%;
        height: auto;
            /* parallax scrolling effect */
            /* background-attachment: fixed; */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        color: white;
        padding: 16%;
        padding-left: 10%;
        font-family: WorkSans, IBM-Plex-Sans-Regular,'Source Code Pro',sans-serif;
        font-size: 80px;
        font-weight: 700;
    }

    section.no-quote {
        padding: 22%;
        padding-left: 10%;
    }

    .quote {
        font-family: WorkSans, IBM-Plex-Sans-Italic;
        font-size: 30px;
        font-weight: 300;
        color: rgb(255, 255, 255);
        padding-top: 16%;
        text-align: right;
    }

    .quote-person {
        font-family: WorkSans, IBM-Plex-Sans-Regular !important;
        font-size: 24px;
        font-style: italic;
        padding-top: 0%;
        padding-right: 100px;

    }
    
    @media only screen and (max-width: 1200px) {
        section.top-image-title {
            /* eliminate parallax scrolling effect */
            background-attachment: scroll;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            font-size: 10vw;
            padding: 16vw;
            padding-left: 4vw;
        }
        .quote {
            font-size: 4vw;
            color: white;
        }
        .quote-person {
            font-size: 3vw;
            padding-right: 4vw;
        }
    }



    section.juicy-content {
        background-color: rgb(245, 245, 245);
        font-family: WorkSans, IBM-Plex-Sans-Regular,'Source Code Pro',sans-serif;
        font-size: 18px;
        line-height: 32px;
        
        width: 90%;
        max-width: 1200px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px 20px;
    }
    @media only screen and (max-width: 1200px) {
        section.juicy-content {
            padding: 3vh 2vh;
            font-size: 14px;
            line-height: 28px;
            box-shadow: 0px 0px 0px;
        }
    }

    .portfolio-image {
        width: 100%;
        display: block;
    }

    h1 {
        text-align: left;
        font-family: WorkSans, IBM-Plex-Sans-Medium,'Source Code Pro',sans-serif;
        font-weight: 800;
        color: rgb(61, 68, 73);
        margin: 0px;
    }

    h2 {
        font-family: WorkSans, IBM-Plex-Sans-Regular,'Source Code Pro',sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: rgb(105, 115, 124);
        margin: 0px;
        margin-top: 4px;
    }

    h3 {
        text-align: left;
        font-family: WorkSans, IBM-Plex-Sans-Medium,'Source Code Pro',sans-serif;
        font-weight: 800;
        font-size: larger;
        color: rgb(61, 68, 73);
    }

    @media only screen and (max-width: 1200px) {
        h2 {
            font-size: 16px;
        }
        h3 {
            font-size: 16px;
        }
    }

    .center {
        margin-left: auto;
        margin-right: auto;
    }

    .subtitle {
        font-size: 14px;
        color: rgb(82, 90, 97);
        font-family: WorkSans, IBM-Plex-Sans-BoldItalic,'Source Code Pro',sans-serif;
        text-align: center;
    }

    .subtitle-text {
        font-family: WorkSans, IBM-Plex-Sans-MediumItalic,'Source Code Pro',sans-serif;
    }

    @media only screen and (max-width: 1200px) {
        .subtitle {
            font-size: 12px;
        }
    }

    .side-content {
        display: flex;
        flex-direction: row;
        padding-top: 10px;
    }

    .side-content div {
        width: 100%;
    }

    .left-section {
        padding-right: 10px;
        margin: auto;
    }

    .right-section {
        padding-left: 10px;
        margin: auto;
    }

    @media only screen and (max-width: 1200px) {
        .side-content {
            display: block;
            padding-top: 0px;
        }
        .side-content div {
            padding-right: 0px;

        }
    }

    footer {
        color: rgb(224, 224, 224);
        font-family: WorkSans,IBM-Plex-Sans-Light,Century Gothic,CenturyGothic,AppleGothic,sans-serif;
        text-align: right;
        padding: 20px 80px 20px 0px;
        font-size: 20px;
    }

    footer p a:link, footer p a:visited {
        color: rgb(160, 160, 160);
        text-decoration: none;
    }

    footer p a:hover {
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    footer p a:active, .contact a:link, .contact a:visited {
        color: rgb(66, 66, 66);
        text-decoration: none;
    }

    .contact a:hover {
        color: rgb(0, 0, 0, 0.5);
    }

    .contact a:active {
        color: rgb(0, 0, 0, 0.3);
    }


/* //////////////////////////////////////////// */
/* MOBILE COMPATABILITY START */
@media only screen and (max-width: 1200px) {

    /* MOBILE NAV BAR START */
    
    /* color of header & footer */
        
        footer {
            font-size: smaller;
            padding-right: 8vw;
        }

        header {
            text-align: center;
        }
    
        nav ul {
            display: inline-block;
        }
    
    /* navigation bar items */
    
    
        nav ul li {
            text-align: left;
            /* keeps dropdown menu under hover link */
            margin: 0px 0px 0px 0px;
        }
    
        nav ul li.links {
            display: inline-block;
        }
    
        nav ul li.logo {
            padding: 0px;
        }
    
        nav ul li a{
            padding: 0px;
            text-align: left;
        }
    
        nav ul li.logo a {
            margin: auto !important;
            /* padding: 0px; */
        }
    
        nav ul li.links a {
            font-size: 12px;
            padding-top: 20px;
            padding-bottom: 26px;
            padding-left: 4vw;
            padding-right: 4vw;
        }
    
        nav ul li ul li a {
            padding: 12px 20px !important;
                /* vertical distance between dropdown menu items, horizontal distance of dd menu items from sides */
            text-align: left;
                /* align drop down text to left */
        }

        .logo a {
            padding-top: 20px;
            font-size: 26px;
            width: fit-content;
            text-align: center;
        }


        /* MOBILE NAV BAR END */
}
    /* MOBILE COMPATABILITY END */
    /* //////////////////////////////////////////// */
